---
layout: default
---

<div id="wrapper" class="divided">
    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content">
            {% include navbar.html %}
            <h2>{{ page.display_name }}</h2>
            <h3>{{ page.title }}</h3>
        </div>
    </section>

    <section class="spotlight style2 orient-left content-orient-left">
        <div class="content">
            {{ content }}
        </div>
    </section>

    <div class="footerbox">
        {% include footer.html %}
    </div>
</div>